.card {
  box-sizing: border-box;
  width: 200px;
  padding: 32px 16px 16px;
  background: #fff;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
}

.card__picture {
  display: block;
  margin: 0 auto 40px;
  height: 134px;
  width: 160px;
}

.card__title {
  margin: 0 0 4px;
  line-height: 18px;
  font-size: 12px;
  font-weight: 500;
  color: var(--main-text-color);
}

.card__code {
  margin-bottom: 16px;

}

.card__review-container {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 24px;
}

.card__review-count {
  color: var(--main-text-color);
}

.card__price-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
  line-height: 18px;
}

.card__price-label {
  font-size: 12px;
}

.card__price {
  font-size: 16px;
  font-weight: 700;
  color: var(--main-text-color);
}

.card__button {
  box-sizing: border-box;
  padding: 12px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  background-color: var(--button-color);
  border: 1px solid  var(--button-color);
  border-radius: 5px;
  color: white;
  text-transform: uppercase;
}

.card__button:hover {
  background-color: #fff;
  color: var(--button-color);
}
